.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  background-color: #ffffff;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}
.menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  min-height: 100%;
  background-color: #19212b;
}
.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  min-height: 100%;
}
